<a href="https://colab.research.google.com/github/1234209/salary-analysis-/blob/main/Untitled_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as ns
a=['Age', 'Workclass', 'Fnlwgt', 'Education', 'education_num' ,'marital_status', 'occupation', 'relationship', 'race', 'sex', 'capital_gain','capital_loss','hours_per_week','native_country','income']

data=pd.read_csv("adult.csv",names=a)
data

,Age,Workclass,Fnlwgt,Education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
data.isnull().sum()

Age               0
Workclass         0
Fnlwgt            0
Education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [ ]:
obj_col=[i for i in data.columns if data[i].dtypes=='object']
print(obj_col)

['Workclass', 'Education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country', 'income']

In [ ]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()

In [ ]:
for i in obj_col:
    data[i] = lb.fit_transform(data[i])

In [ ]:
x=data.iloc[:,:14].values
y=data.iloc[:,14].values
x.shape

(32561, 14)

In [ ]:
y.shape

(32561,)

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.20,random_state=1)
xtrain.shape

(26048, 14)

In [ ]:
ytrain.shape

(26048,)

In [ ]:
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.metrics import accuracy_score

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [ ]:
def apply_model(xtrain,xtest,ytrain,ytest,model):
 model.fit(xtrain,ytrain)
 ypred=model.predict(xtest)
 print("prediction of income for test data :", ypred)
 print("Training score:",model.score(xtrain,ytrain))
 print("Testing score:",model.score(xtest,ytest))
 print('Accuracy score:',accuracy_score(ytest,ypred)*100)
 cm=confusion_matrix(ytest,ypred)
 print("confusion matrix: \n",cm)
 print("classification report : \n ",classification_report(ytest,ypred))
 pr=cm[0][0]/(cm[0][0]+cm[1][0])
 re=cm[0][0]/(cm[0][0]+cm[0][1])
 print("precision:",pr)
 print("recall:",re)
 print("F-1 score: ",2*pr*re/(pr+re))
 acc=(cm[0][0]+cm[1][1])/(cm[0][0]+cm[1][0]+cm[0][1]+cm[1][1])
 print("Accuracy: ",acc)
 print(" ")
 miss=(cm[1][0]+cm[0][1]/(cm[0][0]+cm[1][0]+cm[0][1]+cm[1][1]))
 print("percentage of missclassification :\n",miss)

In [ ]:
Model1=DecisionTreeClassifier(criterion='gini')
apply_model(xtrain,xtest,ytrain,ytest,Model1)

prediction of income for test data : [0 0 1 ... 0 0 1]
Training score: 0.9999616093366094
Testing score: 0.81759557807462
Accuracy score: 81.759557807462
confusion matrix:
 [[4378  648]
 [ 540  947]]
classification report :
                precision    recall  f1-score   support

           0       0.89      0.87      0.88      5026
           1       0.59      0.64      0.61      1487

    accuracy                           0.82      6513
   macro avg       0.74      0.75      0.75      6513
weighted avg       0.82      0.82      0.82      6513

precision: 0.89019926799512
recall: 0.8710704337445284
F-1 score:  0.8805309734513275
Accuracy:  0.81759557807462

percentage of missclassification :
 540.0994933210502

In [ ]:
Model2=RandomForestClassifier()
apply_model(xtrain,xtest,ytrain,ytest,Model2)

prediction of income for test data : [0 0 1 ... 0 0 1]
Training score: 0.9999232186732187
Testing score: 0.8638108398587441
Accuracy score: 86.38108398587441
confusion matrix:
 [[4660  366]
 [ 521  966]]
classification report :
                precision    recall  f1-score   support

           0       0.90      0.93      0.91      5026
           1       0.73      0.65      0.69      1487

    accuracy                           0.86      6513
   macro avg       0.81      0.79      0.80      6513
weighted avg       0.86      0.86      0.86      6513

precision: 0.8994402624975874
recall: 0.9271786709112615
F-1 score:  0.9130988537278338
Accuracy:  0.8638108398587441

percentage of missclassification :
 521.0561953017043

In [ ]:
Model3=LogisticRegression(solver='liblinear')
apply_model(xtrain,xtest,ytrain,ytest,Model3)

prediction of income for test data : [0 0 1 ... 0 0 0]
Training score: 0.7908476658476659
Testing score: 0.8031629049593122
Accuracy score: 80.31629049593121
confusion matrix:
 [[4804  222]
 [1060  427]]
classification report :
                precision    recall  f1-score   support

           0       0.82      0.96      0.88      5026
           1       0.66      0.29      0.40      1487

    accuracy                           0.80      6513
   macro avg       0.74      0.62      0.64      6513
weighted avg       0.78      0.80      0.77      6513

precision: 0.8192360163710778
recall: 0.9558296856346996
F-1 score:  0.882277318640955
Accuracy:  0.8031629049593122

percentage of missclassification :
 1060.0340856748041

In [ ]:
Model4 = KNeighborsClassifier(n_neighbors=15)
apply_model(xtrain,xtest,ytrain,ytest,Model4)

prediction of income for test data : [0 0 1 ... 0 0 0]
Training score: 0.8050138206388207
Testing score: 0.8050053738676494
Accuracy score: 80.50053738676493
confusion matrix:
 [[4905  121]
 [1149  338]]
classification report :
                precision    recall  f1-score   support

           0       0.81      0.98      0.89      5026
           1       0.74      0.23      0.35      1487

    accuracy                           0.81      6513
   macro avg       0.77      0.60      0.62      6513
weighted avg       0.79      0.81      0.76      6513

precision: 0.8102081268582755
recall: 0.975925189017111
F-1 score:  0.8853790613718411
Accuracy:  0.8050053738676494

percentage of missclassification :
 1149.018578228159

In [ ]:
Random classifier is the best classifier with the accuracy 86.381%